extends layout

block content
  main.tab-content.container
    div#home.tab-pane.fade.show.active
      img(src="images/empty_state_proyect.png").img-fluid
      p Parece que está algo vacio por aqui, por qué no empezamos creando un <a href="#proyectos">proyecto</a>.
    div#proyectos.tab-pane.fade
      div.titles.row
        div.col-md-4
          i.fa.fa-long-arrow-left
          span Ver Lista
        div.col-md-4.mt-3
          h4 Titulo del Proyecto
        div.col-md-4
          button.btn Terminar Proyecto
      div.row.data
        div.col-md-4.mt-2
          img.img-thumbnail(src="images/osito.png")
        div.col-md-8.data-proyect
          div.row
            div.col-md-12.d-flex.justify-content-start
              b DATOS DEL PROYECTO
          div.row
            div.col-md-4
              b Nombre
              p WordPress Version 2.
            div.col-md-4
              b Fecha de Solicitud
              p 12/03/2018
            div.col-md-4
              b Fecha de Arranque
              p 12/05/2018
          div.row
            div.col-md-12
              b Product Owner
              p Alejandro West
          div.row
            div.col-md-12
              b Descripcion
              p Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age. To our children, cameras not so feature rich with LCD screens and built in Wi-Fi is as foreign as Atari.
      div.row
        div.col-md-4
          h3 Product Backlog
        div.col-md-4
          h3 Release Backlog
        div.col-md-4
    div#archivero.tab-pane.fade
      h1 archivero
    div#equipos.tab-pane.fade
      h1 equipos
    div#miembros.tab-pane.fade
      h1 miembros
block header
  header.navbar.sticky-top.margin-sidemenu.d-flex
    form.form-inline.mr-auto
      <input class="form-control mr-sm-2" type="search" placeholder="&#xf002; Busca lo que quieras..." aria-label="Search"></input>
    div.mr-4
      button.btn.btn-createProy.mr-3 Nuevo Proyecto
      img(src="images/leader.png").img-profile
    div.d-inline-block.mr-4
      p #{userName}
      p Perfil
block sidemenu
  div.sidenav
    img(src="images/logo.png")
    div.menu.mt-5
      div.nav.nav-tabs(role='tablist')
        a.nav-item.nav-link.active(data-toggle='tab', role='tab', aria-selected='true', href='#home') Home
        a.nav-item.nav-link(data-toggle='tab', role='tab', aria-selected='true', href='#proyectos') Proyectos
        a.nav-item.nav-link(data-toggle='tab', role='tab', aria-selected='true', href='#archivero') Archivero
        a.nav-item.nav-link(data-toggle='tab', role='tab', aria-selected='true', href='#equipos') Equipos
        a.nav-item.nav-link(data-toggle='tab', role='tab', aria-selected='true', href='#miembros') Miembros
      div.fixed-bottom.ml-5.mb-3
        a(href="/logout").logout
          img(src="images/logout.png").img-profile
    
