doctype html
html
  head
    title Scrumio | #{title}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href='/stylesheets/fontawesome.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/toast/jquery.toast.min.css')
    link(rel='stylesheet', href='/fullpage/dist/jquery.fullpage.css')
    script(src="/js/jquery.min.js")
    script(src="/js/jquery-ui.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/fullpage/vendors/jquery.easings.min.js")
    script(src="/fullpage/vendors/scrolloverflow.js")
    script(src="/fullpage/dist/jquery.fullpage.js")
    script(src="/fullpage/dist/jquery.fullpage.extensions.min.js")
    script(src="/js/bootbox.min.js")
    script(src="/toast/jquery.toast.min.js")
    script(src="/javascripts/main.js")
  body
    block header
    block sidemenu
    block content
    block footer
    block side-modal
