@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Tauri");
header {
  font-size: 36px;
  background-color: #f5a623;
  font-family: 'Tauri', sans-serif;
  color: white;
  justify-content: flex-start !important; }
  header .btn-createProy {
    border-radius: 7px;
    background-color: #f57f17;
    width: 156px;
    height: 28px;
    color: #ffffff;
    padding: 0px; }
  header .img-profile {
    width: 100px;
    height: 100px; }
  header p {
    font-size: 18px; }
  header .form-control {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    border-radius: 25px;
    border: solid 1px #ffffff;
    background-color: transparent !important;
    color: #ffffff;
    opacity: 0.6;
    font-size: 12px;
    width: 462px !important; }
    header .form-control::placeholder {
      color: #ffffff; }

body {
  background-color: #ededed !important; }

footer {
  background-color: #515151;
  border: solid 1px #515151; }

#message-log {
  font-size: 14px !important;
  text-align: center; }
  #message-log a {
    color: #f5a623; }

main {
  margin-left: 160px !important;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align: center; }
  main #home a {
    color: #f57f17; }

.margin-sidemenu {
  margin-left: 150px;
  padding: 0px 1rem !important; }

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 13px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center; }
  .sidenav .menu {
    text-align: left; }
    .sidenav .menu div {
      border: none; }
    .sidenav .menu a {
      text-decoration: none;
      color: #818181;
      display: block;
      font-size: 16px;
      color: #4a4a4a;
      font-family: 'Open Sans', sans-serif;
      padding: 10px 10px;
      border: none;
      width: 100%; }
      .sidenav .menu a:hover {
        opacity: 0.6;
        background-color: #ededed; }
      .sidenav .menu a.active {
        border-left: 5px solid #f5a623; }
    .sidenav .menu .logout {
      padding: 0px;
      width: 0; }

#logUser {
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #d6d4d4;
  padding: 40px 20px 0px 20px;
  width: 80%; }
  #logUser .form-group {
    padding-top: 20px; }
    #logUser .form-group .form-control {
      font-size: 18px;
      opacity: 0.8 !important;
      border-radius: 5px !important;
      background-color: #ededed !important;
      padding-left: 20px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit; }
  #logUser nav {
    border-bottom: none; }
    #logUser nav a {
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      border: none; }
    #logUser nav a.active {
      border-bottom: 5px solid #f5a623; }
  #logUser .btnSign {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f57f17;
    width: 218px;
    height: 35px; }

#signUp {
  text-align: center; }

#proyectos .titles i {
  color: #f57f17; }

#proyectos .titles span {
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  padding-left: 5px; }

#proyectos .titles h4 {
  font-size: 20px;
  font-weight: bold; }

#proyectos .titles button {
  border-radius: 7px;
  background-color: #ffffff;
  border: solid 3px #f57f17;
  color: #f57f17;
  height: 28px;
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px; }

#proyectos .data img {
  max-width: 200px; }

#proyectos .data-proyect {
  background-color: white;
  border-radius: 10px; }
  #proyectos .data-proyect .row div {
    text-align: left; }
  #proyectos .data-proyect .row b {
    font-size: 13px; }
  #proyectos .data-proyect .row p {
    font-size: 13px;
    color: #4a4a4a;
    margin-bottom: 0px; }

#signIn {
  padding-top: 20px;
  text-align: center; }
  #signIn .social-btns {
    margin: 10px 0px; }
    #signIn .social-btns a {
      margin: 0px 15px; }
    #signIn .social-btns .btn-facebook, #signIn .social-btns .btn-google {
      color: white !important; }
    #signIn .social-btns .btn-instagram {
      color: darkmagenta !important; }
  #signIn .divider {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 3px; }
    #signIn .divider span {
      font-size: 20px;
      background-color: white;
      padding: 0 5px; }

.backlogs {
  margin-right: 10px; }
  .backlogs h3 {
    font-size: 20px;
    font-weight: bold; }
  .backlogs .teams {
    min-height: 395px; }
  .backlogs .backlog {
    min-height: 366px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px; }
    .backlogs .backlog p {
      font-size: 18px; }
    .backlogs .backlog a {
      font-size: 16px;
      font-weight: normal;
      color: #f57f17; }
  .backlogs .header {
    border-radius: 10px 10px 0px 0px;
    background-color: #fff1d0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    min-height: 80px; }
    .backlogs .header i {
      color: #f57f17;
      position: relative;
      top: 60px;
      font-size: 40px; }
  .backlogs .config div {
    border-radius: 10px;
    background-color: #ffffff; }
    .backlogs .config div #teams {
      margin-right: 50%; }
    .backlogs .config div h4 {
      display: inline-block;
      padding-right: 10px;
      font-size: 18px;
      font-weight: bold; }
    .backlogs .config div i {
      color: #f57f17; }
    .backlogs .config div a {
      font-size: 16px;
      font-weight: normal;
      color: #f57f17; }
    .backlogs .config div p {
      font-size: 18px;
      font-weight: normal; }

.side-modal {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1022;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s; }
  .side-modal a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  .side-modal .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .side-modal h2 {
    font-size: 20px;
    font-weight: bold; }
  .side-modal form label {
    font-size: 13px;
    font-weight: bold; }
  .side-modal form .form-control {
    border: none;
    border-bottom: 2px solid #f57f17;
    border-radius: 0px;
    font-size: 13px;
    color: #4a4a4a; }
    .side-modal form .form-control:focus {
      box-shadow: none; }
  .side-modal form button {
    border-radius: 7px;
    background-color: #f57f17;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: inherit;
    cursor: pointer; }
  .side-modal form #closeSideModal {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 13px;
    font-weight: bold; }

#overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1021;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1s; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }
