@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Tauri');

$color-btn: #f57f17;
$font-input: FontAwesome, "Open Sans", Verdana, sans-serif;
@mixin btn-background-white(){
  border-radius: 7px;
  background-color: #ffffff;
  border: solid 3px #f57f17;
  font-size: 13px;
  color: #f57f17;
  padding-bottom: 0px;
  padding-top: 0px;
}
@mixin cancel-modal-props(){
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 13px;
  font-weight: bold;
}
@mixin img-with-overlay($img-min-width){
  .wrapper{
    position: relative;
    top: 10px;
    width: 50%;
    min-width: $img-min-width;
    border-radius: 10px;
    background-color: #e4e4e4 !important;
    img{
      min-width: 220px;
      display: block;
      width: 100%;
    }
  }
  .overlay{
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
  }
}

@mixin form-style(){
  label{
    font-size: 13px;
    font-weight: bold;
  }
  .form-control{
    border: none;
    border-bottom: 2px solid #f57f17;
    border-radius: 0px;
    font-size: 13px;
    color: #4a4a4a;
    &:focus{
       box-shadow: none;
    }
  }
}

header{
  font-size: 36px;
  background-color: #f5a623;
  font-family: 'Tauri', sans-serif;
  color: white;
  justify-content: flex-start !important;
  .btn-createProy{
    border-radius: 7px;
    background-color: $color-btn;
    width: 156px;
    height: 28px;
    color: #ffffff;
    padding: 0px;
  }
  .img-profile{
    width: 100px;
    height: 100px;
  }
  p{
    font-size: 18px;
  }
  .form-control{
    font-family: $font-input;
    font-style: normal;
    font-weight: normal;
    border-radius: 25px;
    border: solid 1px #ffffff;
    background-color: transparent !important;
    color: #ffffff;
    opacity: 0.6;
    font-size: 12px;
    width: 462px !important;
    &::placeholder{
      color: #ffffff;
    }
  }
  a{
    text-decoration: inherit;
    color: inherit;
  }
  a:hover{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
}
body{
  background-color: #ededed !important;
}
footer{
  background-color: #515151;
  border: solid 1px #515151;
}
#message-log{
  font-size: 14px !important;
  text-align: center;
  a{
    color: #f5a623;
  }
}

main{
  padding-left: 10% !important; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align: center;
  #home{
    a{
      color: $color-btn;
    }
  }
}
.margin-sidemenu{
  margin-left: 150px;
  padding: 0px 1rem !important;
}
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 13px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  .menu{
    text-align: left;
    div{
      border: none;
    }
    a{
      text-decoration: none;
      color: #818181;
      display: block;
      font-size: 16px;
      color: #4a4a4a;
      font-family: 'Open Sans', sans-serif;
      padding: 10px 10px;
      border: none;
      width: 100%;
      &:hover{
        opacity: 0.6;
        background-color: #ededed;
      }
      &.active{
        border-left: 5px solid #f5a623;
      }

    }
    .logout{
      padding: 0px;
      width: 0;
    }
  }
}

#profile{
  .personal, .profesional{
    border-radius: 10px;
    background-color: #ffffff;
  }
  .personal{
    .form-group{
      text-align: left;
    }
    @include form-style();
  }
  .profesional{
    text-align: center;
    p{
      font-size: 18px;
      color: #4a4a4a;
    }
    h4{
      font-size: 18px;
      font-weight: bold;
    }
    button{
      border-radius: 7px;
      background-color: #f57f17;
      border: solid 3px #f57f17;
      font-size: 13px;
      font-weight: bold;
      color: #ffffff;
      padding-bottom: 0px;
      padding-top: 0px;
    }
    table{
      thead{
        tr{
          th{
            border-top: none;
          }
        }
      }
      th{
        font-size: 14px;
      }
      td{
        font-size: 14px;
        button{
          @include btn-background-white();
        }
        i{
          color: #f57f17;
          font-size: 25px;
          cursor: pointer;
        }
      }
    }
  }
  @include img-with-overlay(250px);
}

#logUser{
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #d6d4d4;
  padding: 40px 20px 0px 20px;
  width: 80%;
  .form-group{
    padding-top: 20px;
    .form-control{
      font-size: 18px;
      opacity: 0.8 !important;
      border-radius: 5px !important;
      background-color: #ededed !important;
      padding-left:20px;
	    font-family: $font-input;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  }
  nav{
    border-bottom: none;
    a{
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      border: none;
    }
    a.active{
      border-bottom: 5px solid #f5a623;
    }
  }
  .btnSign{
    margin-top: 20px;
    border-radius: 10px;
    background-color: $color-btn;
    width: 218px;
    height: 35px;
  }
}
#signUp{
  text-align: center;
}

#archivero{
  h2{
    font-size: 30px;
    font-weight: bold;
  }
  .container-1{
    border-radius: 10px;
    background-color: #ffffff !important;
    p{
      font-size: 24px;
    }
  }
}
#equipos, #miembros{
  h2{
    font-size: 30px;
    font-weight: bold;
  }
  button{
    border-radius: 7px;
    background-color: #ffffff;
    border: solid 3px #f57f17;
    font-size: 13px;
    color: #f57f17;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .container-1{
    border-radius: 10px;
    background-color: #ffffff;
  }
  p{
    font-size: 24px;
  }
  a{
    text-align: center;
    color: $color-btn;
  }
}
#modalAddAbility{
  @include form-style();
  button{
    @include btn-background-white();
  }
  .closeModal{
    @include cancel-modal-props();
  }
  select{
    border: solid 3px #f57f17;
  }
}
#modalAddTeam{
  .choose-team{
    text-align: center;
  }
  h4{
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
  }
  h5{
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
  }
  a{
    color: $color-btn;
  }
  @include form-style();
  .closeModal{
    @include cancel-modal-props();
  }
}

#proyectos{
  .titles{
    i{
      color: $color-btn
    }
    span{
      font-size: 14px;
      font-weight: bold;
      color: #4a4a4a;
      padding-left: 5px;
    }
    h4{
      font-size: 20px;
      font-weight: bold;
    }
    button{
      border-radius: 7px;
      background-color: #ffffff;
      border: solid 3px #f57f17;
      color: $color-btn;
      height: 28px;
      padding: 0px;
      padding-right: 5px;
      padding-left: 5px
    }
  }
  .data{
    @include img-with-overlay(220px);
  }
  .data-proyect{
    background-color: white;
    border-radius: 10px;
    .row{
      div{
        text-align: left;
      }
      b{
        font-size: 13px;
      }
      p{
        font-size: 13px;
        color: #4a4a4a;
        margin-bottom: 0px;
      }
    }
  }
}
#signIn{
  padding-top: 20px;
  text-align: center;
  .social-btns{
    margin: 10px 0px;
    a{
      margin: 0px 15px;
    }
    .btn-facebook, .btn-google{
      color: white !important;
    }
    .btn-instagram{
      color: darkmagenta !important;
    }
  }
  .divider{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 3px;
    span{
      font-size: 20px;
      background-color: white;
      padding: 0 5px;
    }
  }
}
.backlogs{
  margin-right: 10px;
  h3{
    font-size: 20px;
    font-weight: bold;
  }
  .teams{
    min-height: 395px;
  }
  .backlog{
    min-height: 366px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    p{
      font-size: 18px;
    }
    a{
      font-size: 16px;
      font-weight: normal;
      color: #f57f17;
    }
  }
  .header{
    border-radius: 10px 10px 0px 0px;
    background-color: #fff1d0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    min-height: 80px;
    i{
      color: #f57f17;
      position: relative;
      top: 60px;
      font-size: 40px;;
    }
  }
  .config{
    div{
      border-radius: 10px;
      background-color: #ffffff;
      #teams{
        margin-right: 50%;
      }
      h4{
        display: inline-block;
        padding-right: 10px;
        font-size: 18px;
        font-weight: bold;
      }
      i{
        color: $color-btn
      }
      a{
        font-size: 16px;
        font-weight: normal;
        color: #f57f17;
      }
      p{
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}

.side-modal {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1022;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    h2{
      font-size: 20px;
      font-weight: bold;
    }
    form{
      @include form-style();
      button{
        border-radius: 7px;
        background-color: #f57f17;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        border: none;
        outline: inherit;
        cursor: pointer;
      }
      #closeSideModal{
        @include cancel-modal-props();
      }
    }
}
#overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1021;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
